<%= form_for @assignment, html: { multipart: true } do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :due_date, "Due Date (all times are in EST)" %><br>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="form-group">
    <select name="assignment[category]" id="assignment_category">
      <option selected="selected" value="Quiz">Quiz</option>
      <option selected="selected" value="Test">Test</option>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, Course.where(teacher_id: current_teacher).all, :id, :name %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
