<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @assignment.body %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @assignment.due_date.strftime("%A, %B %d") %>
</p>

<p>
  <strong>Course:</strong>
  <%= @assignment.course.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @assignment.teacher.name %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
