<% if @student_assignments.any? %>
  <div>
    <h3> <%= @page_heading %> </h3>
  </div>

  <div class="panel panel-default">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="5%">Done</th>
          <th width="20%">Title</th>
          <th width="25%">Course</th>
          <th width="25%">Due Date</th>
          <th width="25%">Details</th>
        </tr>
      </thead>

      <tbody>
        <% @student_assignments.each do |sa| %>
          <tr>
            <td> <%= render "students/sa", sa: sa %> </td>
            <td><del> <%= sa.assignment.name %> </del></td>
            <td><del> <%= sa.assignment.course.name %> </del></td>
            <td><del> <%= sa.assignment.due_date.strftime("%A, %B %d") %> </del></td>
            <td><del> <%= sa.assignment.body %> </del></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>

  <div class="well">
    <h2 class="center">No work to do here! <span class="glyphicon glyphicon-sunglasses"></span></h2>
    <br>
    <p class="center">Go outside and play or something.</p>
  </div>

<% end %>
