<% if @student_assignments %>
  <% if @student_assignments.any? %>

    <h3> <%= @page_heading %> </h3>

    <div class="panel panel-default">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="2%">Done</th>
            <th width="20%">Title</th>
            <th width="20%">Course</th>
            <th width="20%">Due Date</th>
            <th width="35%">Details</th>
          </tr>
        </thead>

        <tbody>
          <% @student_assignments.each do |sa| %>
            <% if sa.completed == "true" %>
              <tr>
                <td> <%= render "students/sa", sa: sa %> </td>
                <td>
                  <% if sa.assignment.category == "Homework" %>
                    <span class="label label-default">Homework</span>
                  <% elsif sa.assignment.category == "Quiz" %>
                    <span class="label label-warning">Quiz</span>
                  <% elsif sa.assignment.category == "Test" %>
                    <span class="label label-danger">Test</span>
                  <% elsif sa.assignment.category == "Project" %>
                    <span class="label label-info">Project</span>
                  <% end %>
                  <del> <%= sa.assignment.name %> </del>
                </td>
                <td><del> <%= sa.assignment.course.name %> </del></td>
                <td><del> <%= sa.assignment.due_date.strftime("%A, %B %d") %> </del></td>
                <td><del> <%= sa.assignment.body %> </del></td>
              </tr>
            <% else %>
              <tr>
                <td> <%= render "students/sa", sa: sa %> </td>
                <td>
                  <% if sa.assignment.category == "Homework" %>
                    <span class="label label-default">Homework</span>
                  <% elsif sa.assignment.category == "Quiz" %>
                    <span class="label label-warning">Quiz</span>
                  <% elsif sa.assignment.category == "Test" %>
                    <span class="label label-danger">Test</span>
                  <% elsif sa.assignment.category == "Project" %>
                    <span class="label label-info">Project</span>
                  <% end %>
                  <%= sa.assignment.name %>
                </td>
                <td> <%= sa.assignment.course.name %> </td>
                <td> <%= sa.assignment.due_date.strftime("%A, %B %d") %> </td>
                <td> <%= sa.assignment.body %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  <% else %>

    <div class="well">
      <h2 class="center">No work to do here! <span class="glyphicon glyphicon-sunglasses"></span></h2>
      <br>
      <p class="center">Go outside and play or something.</p>
    </div>

  <% end %>
<% end %>
