<div class="row">
  <div class="col-md-3">
    <div class="well">
      <h4>Upcoming Assignments:</h4>
      <hr>
      <p><a href="#"><span class="badge">3</span> Overdue</a></p>
      <p><a href="?time=today"><span class="badge">
        <% if @today_assignments %>
          <%= @today_assignments.count %>
        <% else %>
          0
        <% end %></span> Today</a></p>
      <p><a href="#"><span class="badge">3</span> Tomorrow</a></p>
      <p><a href="#"><span class="badge">3</span> This week</a></p>
      <p><a href="#"><span class="badge">3</span> Next 2 Weeks</a></p>
      <p><a href="?time=all"><span class="badge">
        <% if @all_assignments %>
          <%= @all_assignments.count %>
        <% else %>
          0
        <% end %></span> All Assignments</a></p>
    </div>

    <div class="well">
      <h4>My Courses:</h4>
      <hr>
      <% @courses.each do |course| %>
      <p>
        <%= link_to "#{course.name}", course %>
        <%= link_to leave_course_student_path(@student, course), method: :delete, data: { confirm: 'Are you sure you want to leave this course?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </p>
      <% end %>
      <%= render "students/add_course" %>
    </div>
  </div>

  <div class="col-md-9">

    <% if params[:time] == nil %>
      <%= render "students/default" %>

    <% elsif params[:time] %>
      <%= render "students/time" %>

    <% end %>

  </div>
</div>
