<li><a data-toggle="modal" data-target=".add-assignment-modal">Create an assignment</a></li>

<div class="modal fade add-assignment-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title center" id="mySmallModalLabel">Add an Assignment
          <a class="anchorjs-link" href="#mySmallModalLabel"><span class="anchorjs-icon"></span></a>
        </h4>
      </div>

      <div class="modal-body">
        <%= form_for :assignment, url: assignments_path, html: { multipart: true, method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :due_date, "Due Date (all times are in EST)" %><br>
            <%= f.datetime_select :due_date %>
          </div>
          <div class="form-group">
            <label for="assignment_category">Category</label><br>
            <select name="assignment[category]" id="assignment_category">
              <option selected="selected" value="Homework">Homework</option>
              <option value="Quiz">Quiz</option>
              <option value="Test">Test</option>
              <option value="Project">Project</option>
            </select>
          </div>
          <div class="form-group">
            <%= f.hidden_field :course_id, type: "hidden", value: "#{course.id}" %>
          </div>
          <div class="form-group">
            <%= f.submit "Add Assignment", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
