<div class="page-header center">
  <h1><%= @course.name %> </h1>
</div>

<div class="row">
  <div class="col-md-3">
    <p>
      <strong>Teacher:</strong>
      <%= @course.teacher.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @course.description %>
    </p>
  </div>
  <div class="col-md-9">
    <p><strong>Assignments:</strong></p>

    <% if @assignments.any? %>
      <% @assignments.each do |a| %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Due Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <%= a.name %> </td>
              <td>Tuesday</td>
              <td> <%= a.body %> </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <p><strong>Links:</strong></p>
  </div>
  <div class="col-md-6">
    <p><strong>Files:</strong></p>
  </div>
</div>
