<div class="page-header center">
  <h1><%= @course.name %> </h1>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Teacher:</strong>
      <%= @course.teacher.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @course.description %>
    </p>
  </div>
  <div class="col-md-8">
    <p><strong>Assignments:</strong></p>

    <% if @assignments.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Details</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @assignments.each do |a| %>
          <tr>
            <td>
              <% if a.category == "Homework" %>
                <span class="label label-default">Homework</span>
              <% elsif a.category == "Quiz" %>
                <span class="label label-warning">Quiz</span>
              <% elsif a.category == "Test" %>
                <span class="label label-danger">Test</span>
              <% elsif a.category == "Project" %>
                <span class="label label-info">Project</span>
              <% elsif a.category == "Online Assessment" %>
                <span class="label label-primary">Online Assessment</span>
              <% end %>
              <%= a.name %>
            </td>
            <td> <%= a.due_date.strftime("%A, %B %d") %> </td>
            <td> <%= a.body %> </td>
            <td>
              <%= link_to edit_assignment_path(a), class: "navbar-brand" do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to assignment_path(a), class: "navbar-brand", method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <p><strong>Links:</strong></p>

    <% if @course_links.any? %>
      <ul>
        <% @course_links.each do |l| %>
          <% if /^http/i.match(l.url) or /^https/i.match(l.url) %>
            <li>
              <%= link_to l.name, l.url %>
              <%= link_to delete_link_course_path(@course, l), method: :delete, data: { confirm: 'Are you sure you want to delete this link?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to l.name, "http://#{l.url}" %>
              <%= link_to delete_link_course_path(@course, l), method: :delete, data: { confirm: 'Are you sure you want to delete this link?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

  </div>
  <div class="col-md-6">
    <p><strong>Files:</strong></p>

    <% if @course_files.any? %>
    <ul>
      <% @course_files.each do |f| %>
        <li>
          <%= link_to f.name, f.file.url %>
          <%= link_to delete_file_course_path(@course, f), method: :delete, data: { confirm: 'Are you sure you want to delete this file?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% end %>

  </div>
</div>
